# Папка с зависимостями Node.js
# Эту папку всегда нужно игнорировать, так как зависимости устанавливаются командой `npm install`
node_modules/

# Готовый исполняемый файл и папка для сборки
# Результаты сборки не должны храниться в Git, их нужно генерировать по необходимости
dist/
*.exe

# Файлы логов NPM
# Они содержат отладочную информацию и не нужны в репозитории
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Системные файлы macOS
.DS_Store

# Файлы настроек редакторов кода
.vscode/
.idea/